 @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');    /*import google font Lexend */
/* CSS for responsive design*/
    body {
        font-family: 'Lexend', sans-serif;
        font-size: 16px;
        margin: 0;
        display: flex;
        flex-direction: column; 
    }
    
    /* Header and menu bar styling */
    img.logo{
        max-width: 120px;
        height: auto;
        width: auto;
        border-radius: 50%;
        margin-top: 1%;
        margin-left: 1%
    }
    
    img.menu {
        right: 20px;
        top: 20px;
        position: absolute; 
    }

    img.menuMouseOver {
        right: 20px;
        top: 20px;
        position: absolute; 
    }
 
    .imageBox {
        right: 10px;
        top: 32px;
        position: absolute;
        float: left;
    }
    
    .imageBox .menuMouseOver{
        position: absolute; 
        right: 20px;
        top: 20px;
        display: none;
    }
    
    .imageBox:hover .menuMouseOver {
        display: block;
    }
    
    /* Dropdown menu */
    .dropdown {
        position:relative;
        z-index: 21;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 120px;
        overflow: auto;
        right: 0px;
        top: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 21;
    }
    
    .dropdown-content a {
        font-size: medium;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        z-index: 21;
    }
    
    .dropdown a:hover {
        background-color: #ddd;
    }
    
    .show {display: block;}

    /* Style for header */
    header {
        position: relative;
        width: 100%;
        text-align: center; 
        overflow: hidden; 
    }

    .header{
        background-color: #ffdaba;
        height: 165px;
        width: 100%;
        border: 3px solid #050505;
        z-index: 10;
        position: fixed;
        opacity: 100%;
    }
    
    /* Style for Footer */
    .footer{
        background-color: #ffdaba;
        width: 100%;
        height: 100px;
        position: fixed;
        bottom: 0px;
        border-top: solid black 1px;
        text-align: center;
        opacity: 100%;
        z-index: 2;
        left: 0px;
    }
    
    /* Main content styling */
    .main{
        position: fixed;
        top: 167px;
        left: 0px;
        right: 0px;
        bottom: 110px;
    }
    
    .mainText{
        text-align: center;
        color: #050505;
        position: absolute;
        top: 65px;
        left: 50%;
        width:80%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .mainAboutText{
        text-align: center;
        color: #050505;
        position: absolute;
        top: 50%;
        left: 50%;
        width:45%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .mainContacts{
        text-align: center;
        color: #050505;
        position: absolute;
        top: 50%;
        left: 50%;
        width:80%;
        transform: translate(-50%, -50%);
        z-index: 10;
    
    }

    .mainProductCategory{
        text-align: center;
        position: relative;
        top: 165px;
        left: 0;
        width: 100%;
    }
    
    .mainProductCategory > h1{
        font-family: 'Lexend', sans-serif;
        font-size: 25px;
    }

    .mainProd{
        background-color: aqua;
        top: 0px;
        left: 10px;
        right: 0px;
        z-index: 1;
        position:relative;
      
    }

    /* Style for product side with anchor */
    .productAnchor {
        display: block;
        text-align: center;
        font-size: larger;
        position: fixed;
        top: 185px;
        z-index: 20;
      }
      
      .imgAnchorCupcake,
      .imgAnchorCake {
        width: 10px;
        height:120px;
      }

    .cakesAnchor-container {
        font-family: 'Lexend', sans-serif;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: larger;
        text-align: center;
        color: #050505;
        position: fixed;
        z-index: 20;
    }

    .imgAnchorCupcake{
        height: 40px;
        width: 40px;
    }

    .imgAnchorCake{
        height: 40px;
        width: 40px;
    }

    .cupCakesAnchor{
        top: 12px;
        left: 100px;
        width:80%;
        height: 80px;
        font-family: 'Lexend', sans-serif;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: larger;
        text-align: center;
        color: #050505;
        position: relative;
        z-index: 0;
    }

    .weddingCakesAnchor{
        top: 0px;
        left: 100px;
        width:80%;
        height: 80px;
        font-family: 'Lexend', sans-serif;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: larger;
        text-align: center;
        color: #050505;
        position: relative;
        z-index:2 0;
    }
   
    .cakes-container {
        /* margin-top: 420px; */
        margin-top: 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* margin-bottom: 150px; */
        margin: 20px;
        text-align: center;
    }
  
    .cakes-container > div {
        margin: 10px;
        background-color:beige;
    }

    .prodAfterHeader{
        margin-top: 120px;
    }

    .prodBeforeFooter{
        margin-bottom: 110px;
    }

    .mainProducts > p{
        margin: 3px 0; /* between paragraphs */
    }

    /* Style for gabriela weddingcake on index side (Home)*/
    .img-Gabriella{
        position:fixed;
        height: 30%; 
        border-radius: 50%;
        background-color:#ffdaba;
        padding: 2em;
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
    }

    /* Imagebox div for social media idons in the footer */
    .imgbox-SocialMedia{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    /* Images of social media */
    .img-Mail{
        margin-right: 30px;
    }
    .img-Facebook{
        margin-right: 30px;
    }
    .img-Instagram{
        margin-right: 30px;
    }

    .imgbox-Gabriella{
    } 
 
    /* Style for footer */
    .foot {
        width: 100%;
        height: 40px;
        position: fixed;
        bottom: 0px;
        background-color: #8bcac9;
        border-top: solid black 1px;
        text-align: center;
        opacity: 100%;
        z-index: 2;
        left: 0px;
    }

/* Styles for screens with a minimum width of 1025px (e.g., desktop computers) */
@media screen and (min-width: 1025px) {
    .dropdown-content a{
        font-size: 16px;
    }
    
    body {
        font-size: 20px;
    }

    .img-Mail{
        width: 200;
    }
}

/* Styles for screens with a minimum width of 601px and a maximum width of 1024px (e.g., tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 18px;
    }
    .dropdown-content a{
        font-size: 16px;
   }
    /* .headerText{
        font-size: 40px;
    } */

    .mainContacts{
        width: 90%;
    }

    .mainAboutText{
        width: 90%;
    }

    h2{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/* Styles for screens with a maximum width of 600px (e.g., mobile devices) */
    @media screen and (max-width: 600px) {
        body {
            font-size: 18px;
        }

        .imgbox-SocialMedia{
            height: 50px;
        }
        .dropdown-content a{
            font-size: 20px;
       }
        /* .headerText{
            font-size: 40px;
        } */
        .mainContacts{
            width: 100%;
        }

        .mainAboutText{
            width: 100%;
        }
    
        h2{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }