    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
        display: flex;
        flex-direction: column; 
    }

    /* div{
        border: 5px solid black;
    }
    .h1{
    } */

    img.logo{
        max-width: 140px;
        height: auto;
        width: auto;
        border-radius: 50%;
        margin-top: 1%;
        margin-left: 1%
        }
    
        img.menu {
            right: 20px;
            top: 20px;
            position: absolute; 
        }

        img.menuMouseOver {
             right: 20px;
            top: 20px;
            position: absolute; 
        }
    /* not working */
        .img{
            max-width: 20px
        }
    .imageBox {
            right: 10px;
            top: 32px;
            position: absolute;
            float: left;
        }
    
    .imageBox .menuMouseOver{
            position: absolute; 
            right: 20px;
            top: 20px;
            display: none;
        }
    
    .imageBox:hover .menuMouseOver {
            display: block;
        }
    
    /* Dropdown menu */
    .dropdown {
        position:relative;
        z-index: 21;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 120px;
        overflow: auto;
        right: 0px;
        top: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 21;
    }
    
    .dropdown-content a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        z-index: 21;
    }
    
    .dropdown a:hover {
        background-color: #ddd;
    }
    
    .show {display: block;}
/* 
    .menuBar{
        background-color: goldenrod;
    }

    .menuText{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    a:link{
    color:black;
    }

    a:visited{
    color:black;
    } */

    header {
        position: relative;
        width: 100%;
        /* background-color:gray; */
        text-align: center; /* Center items vertically */
        overflow: hidden; /* Clear the floats inside the header */
    }

    .header{
        background-color: #ffdaba;
        /* background-color: #f7f8e7; */
        /* background-color: #FFB777; */
        /* background-color: #3aa58e; */
        height: 165px;
        width: 100%;
        border: 3px solid #050505;
        z-index: 10;
        position: fixed;
        opacity: 100%;
    }

    /*    overflow: hidden; Clear the floats inside the header*/

    .headerText{
        left: 80px;
        top: 65px;
        padding: 5px 7% 0% 7%;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        font-weight: bold;
        position:fixed;
    }

    .footer{
        background-color: #ffdaba;
        /* background-color: #3aa58e; */
        font-family:cursive;
        width: 100%;
        height: 100px;
        position: fixed;
        bottom: 0px;
        border-top: solid black 1px;
        text-align: center;
        opacity: 100%;
        z-index: 2;
        left: 0px;

    }

    .main{
        position: fixed;
        top: 167px;
        left: 0px;
        right: 0px;
        bottom: 110px;
        /* border: 5px solid yellow; */
        /* z-index: 10; */
    }
 

    
    .mainText{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: larger;
        text-align: center;
        color: #050505;
        position: absolute;
        top: 230px;
        left: 50%;
        width:80%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .mainAboutUsText{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: xx-large;
        text-align: center;
        color: #050505;
        position: absolute;
        top: 310px;
        left: 50%;
        width:80%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }


    .mainContacts{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: xx-large;
        text-align: center;
        color: #050505;
        position: absolute;
        top: 350px;
        left: 50%;
        width:80%;
        transform: translate(-50%, -50%);
        z-index: 10;
    
    }

    .mainProducts{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: larger;
        text-align: center;
        color: #050505;
        position: absolute;
        top: 550px;
        left: 50%;
        width:80%;
        transform: translate(-50%, -50%);
        z-index: 10;
    
    }

    .cakes-container {
        margin-top: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
        text-align: center;
    }
  
    .cakes-container > div {
        margin: 5px;
    }

    .circle-with-text {
        position: fixed;
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;
        height: 300px;
        width: 50%; /* Set both width and height to the same value for a perfect circle */
        border-radius: 50%;
        background: #ffdaba;
        margin-top: 30px;
        margin-left: 25%; /* Adjust as needed */
        z-index: 10;
    }
    
    .img-Gabriella{
        position:fixed;
        /* max-width: 100%;
        max-height: 100%;*/
        /* width: 30%; */
        height: 30%; 
        border-radius: 50%;
        background-color:#ffdaba;
        padding: 2em;
        left: 50%;
        top: 59%;
        transform: translate(-50%, -50%);
    }

    /* .imgProductGabriela{
        width: 20%;
    } */

    .imgbox-SocialMedia{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    .img-Mail{
        margin-right: 30px;
    }
    .img-Facebook{
        margin-right: 30px;
    }
    .img-Instagram{
        margin-right: 30px;
    }

    .imgbox-Gabriella{
    } 
 
    .foot {
        width: 100%;
        height: 40px;
        position: fixed;
        bottom: 0px;
        background-color: #8bcac9;
        border-top: solid black 1px;
        text-align: center;
        opacity: 100%;
        z-index: 2;
        left: 0px;
    }

    /* Styles for screens with a minimum width of 601px and a maximum width of 1024px (e.g., tablets) */
    @media screen and (min-width: 601px) and (max-width: 1024px) {
        body {
            font-size: 18px;
        }
        .dropdown-content a{
            font-size: 40px;
       }
        .headerText{
            font-size: 40px;
        }
        h2{
            margin-top: 5px;
            margin-bottom: 5px;
        }

    }
    /* Styles for screens with a minimum width of 1025px (e.g., desktop computers) */
    @media screen and (min-width: 1025px) {
        .dropdown-content a{
            font-size: 20px;
        }
        
        body {
            font-size: 20px;
        }

        .img-Mail{
            width: 200;
        }
    }

    /* Styles for screens with a maximum width of 600px (e.g., mobile devices) */
    @media screen and (max-width: 600px) {
        body {
            font-size: 18px;
        }

        .imgbox-SocialMedia{
            height: 50px;
        }
        .dropdown-content a{
            font-size: 20px;
       }
        .headerText{
            font-size: 40px;
        }
        h2{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }